<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotball</title>
    <link rel="stylesheet" href="style/style.css">
    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://kit.fontawesome.com/27c9b49aab.js" crossorigin="anonymous"></script>

</head>

<body>

    <div id="app">


        <b-container>
            <h1 class="my-4">Welcom to football highlights</h1>
            <b-row>

                <div class="col-lg-3">


                    <b-list-group>
                        <b-list-group-item>
                            <b-link href="/index.html">
                                All
                            </b-link>
                        </b-list-group-item>

                        <b-list-group-item>
                            <b-link href="/laliga.html">
                                <b-img src="https://d37kf7rs4g1hyv.cloudfront.net/img/flags/64/laliga.png" width="35"
                                    fluid alt="Responsive image"></b-img>
                                La Liga
                            </b-link>
                        </b-list-group-item>

                        <b-list-group-item>
                            <b-link href="/seriea.html">
                                <b-img src="https://d37kf7rs4g1hyv.cloudfront.net/img/flags/64/seriea.png" width="35"
                                    fluid alt="Responsive image"></b-img>
                                Serie A
                            </b-link>
                        </b-list-group-item>

                        <b-list-group-item>
                            <b-link href="/premierleague.html">
                                <b-img src="https://d37kf7rs4g1hyv.cloudfront.net/img/flags/64/epl.png" width="35" fluid
                                    alt="Responsive image"></b-img>
                                Premier League
                            </b-link>
                        </b-list-group-item>
                    </b-list-group>

                </div>
            </b-row>


            <b-row>

                <b-card-group v-for="post in posts" :key="post.id"
                    v-if="post.competition.id == 14 || post.competition.id == 13 || post.competition.id == 15"
                    class="theme-default-content content__default col-lg-4 col-md-6 my-4" deck>
                    <!--  : de teckenet står för v-bind-->
                    <!--visa alla 3 ligor-->
                    <b-card :title="post.title" :img-src="post.thumbnail" img-alt="Image" img-top tag="article" style=""
                        class="mb-2">
                        <b-card-text>

                        </b-card-text>

                        <!-- match.html -->
                        <b-button href="/match.html" variant="primary" v-on:click="addToLS(post.embed)">
                            Watch stream
                        </b-button>
                    </b-card>
                </b-card-group>


                <!-- match.html -->

                </b-card>
            </b-row>
        </b-container>
    </div>

    <!---->
    <script src="script.js"></script>

    </div>

</body>

</html>