<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotball</title>
    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

</head>

<body>

    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="row">

                <div class="col-lg-3">

                    <h1 class="my-4">Fotboll</h1>
                    <div class="list-group">
                        <a href="/index.html" class="list-group-item">All</a>
                        <a href="/laliga.html" class="list-group-item">La Liga</a>
                        <a href="/seriea.html" class="list-group-item">Serie A</a>
                        <a href="/premierleague.html" class="list-group-item">Premier League</a>
                    </div>

                </div>

            </div>

            <div class="row">
                <div v-for="post in posts" :key="post.id"
                    class="theme-default-content content__default col-lg-4 col-md-6 m-4">
                    <!--  : de teckenet står för v-bind-->
                    <b-card v-if="post.competition.id == 13" :title="post.title" :img-src="post.thumbnail" img-alt="Image" img-top tag="article" style=""
                        class="mb-2">
                        <b-card-text>
                            {{ post.body }}
                        </b-card-text>
<!-- match.html -->
                        <b-button href="`/match.html?id=${post.id}`" variant="primary">Go somewhere</b-button>
                    </b-card>
                </div>
            </div>
        </div>

        <!---->
        <script src="script.js"></script>

</body>

</html>