body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(88,88,187,1) 35%, rgba(0,212,255,1) 100%);
}
.video{
    display: block;  
    width: 50%;
    height: auto;
    margin: 0 auto;
}